__pycache__
.DS_store
bin
include
share
pyvenv.cfg
lib/*
Modin.pptx
var/app-instance/invasi.db
secret.py
invasi-app/lib/
invasi-app/bin/
invasi-app/temp_export/
venv/
venv/*
command
containers.json
*.json