<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - JSON Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>
        <h3>Data from JSON</h3>
        <form id="data_select" method="POST">
            <select class="form-select" id="data_select" name="data_select" required>
                <option value="data.json">data.json</option>
            </select>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        <br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>S (Km<sup>2</sup>)</th>
                    <td>{{ data['S'] }}</td>
                    <th>A</th>
                    <td>{{ data['A'] }}</td>
                </tr>
                <tr>
                    <th>W<sub>inv</sub> tot</th>
                    <td>{{ data['Winv tot'] }}</td>
                    <th>A'</th>
                    <td>{{ data['A\''] }}</td>
                </tr>
                <tr>
                    <th>W<sub>inv</sub> aut</th>
                    <td>{{ data['Winv aut'] }}</td>
                    <th>D<sub>ec</sub></th>
                    <td>{{ data['D ec'] }}</td>
                </tr>
                <tr>
                    <th>W<sub>o</sub></th>
                    <td>{{ data['Wo'] }}</td>
                    <th>E<sub>pot</sub></th>
                    <td>{{ data['E pot'] }}</td>
                </tr>
                <tr>
                    <th>E<sub>irr</sub></th>
                    <td>{{ data['E irr'] }}</td>
                    <th>E<sub>ind</sub></th>
                    <td>{{ data['E ind'] }}</td>
                </tr>
                <tr>
                    <th>P<sub>ev</sub></th>
                    <td>{{ data['P ev'] }}</td>
                    <th>P<sub>inf</sub></th>
                    <td>{{ data['P inf'] }}</td>
            </tbody>
        </table>

        <br>
        <div class="text-center">
            <button id="toggleViewPre" class="btn btn-secondary">Pre correzioni</button>
            <button id="toggleViewPost" class="btn btn-secondary">Post correzioni</button>
        </div>

        <div id="PreCorrezioni" class="table-responsive">
            <p>Pre correzioni</p>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Mese</th>
                        <th>Cj(A)</th>
                        <th>Cj(A')</th>
                        <th>Cj(ev)</th>
                        <th>Cj(inf)</th>
                        <th>Cj(ec)</th>
                        <th>Cj(pot)</th>
                        <th>Cj(irr)</th>
                        <th>Cj(ind)</th>
                        <th>Cj(tra)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(data['Cj(A)']|length) %}
                    <tr>
                        <td>{{ months[i] }}</td>
                        <td>{{ data['Cj(A)'][i] }}</td>
                        <td>{{ data['Cj(A\')'][i] }}</td>
                        <td>{{ data['Cj(ev)'][i] }}</td>
                        <td>{{ data['Cj(inf)'][i] }}</td>
                        <td>{{ data['Cj(ec)'][i] }}</td>
                        <td>{{ data['Cj(pot)'][i] }}</td>
                        <td>{{ data['Cj(irr)'][i] }}</td>
                        <td>{{ data['Cj(ind)'][i] }}</td>
                        <td>{{ data['Cj(tra)'][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Mese</th>
                        <th>A j</th>
                        <th>A'</th>
                        <th>Pev j</th>
                        <th>Pinf j</th>
                        <th>Dec j</th>
                        <th>Epot j</th>
                        <th>Eirr j</th>
                        <th>Eind j</th>
                        <th>Etra j</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(data['A j']|length) %}
                    <tr>
                        <td>{{ months[i] }}</td>
                        <td>{{ data['A j'][i] }}</td>
                        <td>{{ data['A\' j'][i] }}</td>
                        <td>{{ data['P ev j'][i] }}</td>
                        <td>{{ data['P inf j'][i] }}</td>
                        <td>{{ data['D ec j'][i] }}</td>
                        <td>{{ data['E pot j'][i] }}</td>
                        <td>{{ data['E irr j'][i] }}</td>
                        <td>{{ data['E ind j'][i] }}</td>
                        <td>{{ data['E tra j'][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered table-striped">
                <thead>
                    <th>Mese</th>
                    <th>A*</th>
                    <th>A'*</th>
                    <th>P ev*</th>
                    <th>P inf*</th>
                    <th>D ec*</th>
                    <th>E pot*</th>
                    <th>E irr*</th>
                    <th>E ind*</th>
                    <th>E tra*</th>
                </thead>
                <tbody>
                    {% for i in range(data['A j']|length) %}
                    <tr>
                    <td>{{ months[i] }}</td>
                    <td>{{ data["A*"][i] }}</td>
                    <td>{{ data["A\'*"][i] }}</td>
                    <td>{{ data["P ev*"][i] }}</td>
                    <td>{{ data["P inf*"][i] }}</td>
                    <td>{{ data["D ec*"][i] }}</td>
                    <td>{{ data["E pot*"][i] }}</td>
                    <td>{{ data["E irr*"][i] }}</td>
                    <td>{{ data["E ind*"][i] }}</td>
                    <td>{{ data["E tra*"][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered table-striped">
                <thead>
                    <th>Mese</th>
                    <th>E<sub>tot</sub> j</th>
                    <th>E<sub>tot</sub> *</th>
                    <th>A<sub>tot</sub> j</th>
                    <th>A<sub>tot</sub> *</th>
                    <th>w j</th>
                    <th>w *</th>
                    <th>W j</th>
                    <th>W *</th>
                </thead>
                <tbody>
                    {% for i in range(data['A j']|length) %}
                    <tr>
                    <td>{{ months[i] }}</td>
                    <td>{{ data["Etot j"][i] }}</td>
                    <td>{{ data["Etot*"][i] }}</td>
                    <td>{{ data["Aitot j"][i] }}</td>
                    <td>{{ data["Aitot*"][i] }}</td>
                    <td>{{ data["w j"][i] }}</td>
                    <td>{{ data["w*"][i] }}</td>
                    <td>{{ data["W j"][i] }}</td>
                    <td>{{ data["W*"][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Mese</th>
                    <th>Wi A*</th>
                    <th>Wi B*</th>
                    <th>Sf A</th>
                    <th>Sf A*</th>
                    <th>Sf B</th>
                    <th>Sf B*</th>
                    <th>D/S A j</th>
                    <th>D/S A *</th>
                    <th>D/S B j</th>
                    <th>D/S B *</th>
                </thead>
                <tbody>
                    {% for i in range(data['A j']|length) %}
                    <tr>
                    <td>{{ months[i] }}</td>
                    <td>{{ data["Wi A*"][i] }}</td>
                    <td>{{ data["Wi B*"][i] }}</td>
                    <td>{{ data["Sf A"][i] }}</td>
                    <td>{{ data["Sf A*"][i] }}</td>
                    <td>{{ data["Sf B"][i] }}</td>
                    <td>{{ data["Sf B*"][i] }}</td>
                    <td>{{ data["D/S A j"][i] }}</td>
                    <td>{{ data["D/S A*"][i] }}</td>
                    <td>{{ data["D/S B j"][i] }}</td>
                    <td>{{ data["D/S B*"][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div id="PostCorrezioni" class="table-responsive" style="display:none;">
            <p>Post correzioni</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <th>A*</th>
                    <th>A'*</th>
                    <th>P ev*</th>
                    <th>P inf*</th>
                    <th>D ec*</th>
                    <th>E pot*</th>
                    <th>E irr*</th>
                    <th>E ind*</th>
                    <th>E tra*</th>
                </thead>
                <tbody>
                    <td>{{ data["A*"] }}</td>
                    <td>{{ data["A\'*"] }}</td>
                    <td>{{ data["P ev*"] }}</td>
                    <td>{{ data["P inf*"] }}</td>
                    <td>{{ data["D ec*"] }}</td>
                    <td>{{ data["E pot*"] }}</td>
                    <td>{{ data["E irr*"] }}</td>
                    <td>{{ data["E ind*"] }}</td>
                    <td>{{ data["E tra*"] }}</td>
                </tbody>
            </table>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Mese</th>
                        <th>Cj(A)</th>
                        <th>Cj(A')</th>
                        <th>Cj(ev)</th>
                        <th>Cj(inf)</th>
                        <th>Cj(ec)</th>
                        <th>Cj(pot)</th>
                        <th>Cj(irr)</th>
                        <th>Cj(ind)</th>
                        <th>Cj(tra)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(data['Cj(A)']|length) %}
                    <tr>
                        <td>{{ months[i] }}</td>
                        <td>{{ data['Cj(A)'][i] }}</td>
                        <td>{{ data['Cj(A\')'][i] }}</td>
                        <td>{{ data['Cj(ev)'][i] }}</td>
                        <td>{{ data['Cj(inf)'][i] }}</td>
                        <td>{{ data['Cj(ec)'][i] }}</td>
                        <td>{{ data['Cj(pot)'][i] }}</td>
                        <td>{{ data['Cj(irr)'][i] }}</td>
                        <td>{{ data['Cj(ind)'][i] }}</td>
                        <td>{{ data['Cj(tra)'][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('toggleViewPre').addEventListener('click', function () {
            const view1 = document.getElementById('PreCorrezioni');
            const view2 = document.getElementById('PostCorrezioni');
            if (view1.style.display === 'none' || view2.style.display === 'block') {
                view1.style.display = 'block';
                view2.style.display = 'none';
            }
        });
    </script>

    <script>
        document.getElementById('toggleViewPost').addEventListener('click', function () {
            const view1 = document.getElementById('PreCorrezioni');
            const view2 = document.getElementById('PostCorrezioni');
            if (view2.style.display === 'none' || view1.style.display === 'block') {
                view1.style.display = 'none';
                view2.style.display = 'block';
            }
        });
    </script>
</body>

</html>